In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('balanced_nair_train.csv')
valid = pd.read_csv('balanced_nair_valid.csv')

In [3]:
train

,name,ra,dec,petro_theta,class,new_class
0,J011540.64+011152.6,18.919349,1.197969,15.338832,3,2
1,J095804.47+401333.6,149.518636,40.226044,14.320828,3,2
2,J093316.71+335420.5,143.319672,33.905735,17.083345,3,2
3,J163045.22+260542.9,247.688426,26.095250,16.429203,2,2
4,J140132.73+133206.0,210.386410,13.535019,12.626719,1,2
...,...,...,...,...,...,...
14010,J031653.94-081024.3,49.224793,-8.173406,15.100443,8,4
14011,J114830.60+124400.9,177.128226,12.730344,18.509815,10,4
14012,J000002.09+155254.1,0.008808,15.881774,7.501081,8,4
14013,J005027.50-084306.6,12.614570,-8.718535,8.301952,7,4
14014,J101508.19+051438.9,153.784043,5.243266,29.791517,7,4

In [4]:
train['name'] = train['name'] + '.jpg'

In [6]:
valid['name'] = valid['name'] + '.jpg'

In [10]:
train = train.sample(frac=1).reset_index(drop=True)
valid = valid.sample(frac=1).reset_index(drop=True)

In [12]:
train.to_csv('t.csv', index=None)
valid.to_csv('v.csv', index=None)